body{
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

h1{
  font-size: 500%;
  margin: 0 auto 10px auto;
  color: #337147;
  font-family: 'Exo', 'Bebas Neue', sans-serif;
}

h2{
  margin-top: 0;
  font-family: 'Source Code Pro', sans-serif;
  color: #426F42;
  font-size: 25px;
}
h3{
  font-family: 'Source Code Pro', sans-serif;
  font-weight:bold;
  color: #0E8C3A;
}

p{
  line-height: 2;
  color: #00FF00;
}

.intro{
  background-color: #000000;
  position: relative;
  padding-top: 80px;
}

.css{
  position: absolute;
  height: 10%;
  width: 6%;
  left: 20%;
  top: 80%;
}

.html5{
  position: absolute;
  height: 10%;
  width: 6%;
  right: 20%;
  top: 80%;
}

.java{
  position: absolute;
  height: 10%;
  width: 6%;
  right: 20%;
  top: 45%;
}
.python{
  position: absolute;
  height: 10%;
  width: 6%;
  left: 20%;
  top: 45%;
}

.computer{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 80px;
}
.hobbies-row{
  width: 50%;
  margin: 30px auto 100px auto;

  text-align: left;
}

.coding{
  position: relative;
  height: 30%;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.puzzle{
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 80px;
}

.puzzles{

}

.talking{
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 80px;
}

.scott{
  border-radius: 70%;
  padding-top: 30px;
  width: 300px;
  height: 300px;
}

.footer-link{
  margin: auto 10px auto 10px;
  font-size: 20px;
}

.skill-row{
  width: 50%;
  margin: 30px auto 100px auto;

  text-align: left;
}

.skills{
  padding-top: 30px;
  padding-bottom: 0;
}

.copyright{
  color: white;
}

.middle-container{
  background-color: #000000;
  height: auto;
}
.bottom-container{
  margin: 0 auto 0 auto;
  padding-top: 20px;
  background-color: #37BC61;
  height: 100px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Raleway';
  color: #ffffff;
  font-size: 20px;
  background: #20ad1d;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #4AC948;
  text-decoration: none;
}

.contact-me{
  padding-bottom: 50px;
}
