body{
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

h1{
  font-size: 80px;
  margin: 50px auto 10px auto;
  color: #337147;
  font-family: 'Exo', 'Bebas Neue', sans-serif;
}

h2{
  margin-top: 0;
  font-family: 'Source Code Pro', sans-serif;
  color: #0E8C3A;
  font-size: 25px;
}
h3{
  font-family: 'Source Code Pro', sans-serif;
  font-weight:bold;
  color: #37BC61;
}

p{
  line-height: 2;
}

.intro{
  background-color: #C3E4ED;
  position: relative;
  padding-top: 100px;
}

.cloud-top{
  position: absolute;
  top: 50px;
  right: 400px;
}
.cloud-bottom{
  position: absolute;
  left: 400px;
  top: 350px;
}

.mountain{
  position: relative;
  left: 50px;
}
.computer{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 80px;
}
.puzzle{
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 80px;
}

.talking{
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 80px;
}

.scott{
  border-radius: 70%;
  width: 300px;
  height: 300px;
}

.footer-link{
  margin: auto 10px auto 10px;
  font-size: 20px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  padding-top: 20px;
  text-align: left;
}
.copyright{
  color: white;
}

.middle-container{

}
.bottom-container{
  margin: 40px auto 0 auto;
  padding-top: 30px;
  background-color: #37BC61;
  height: 100px;
}
